REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_MAXMEMORY=256mb
TZ=Asia/Seoul

ALLOY_INSTANCE=redis-ec2
PROM_REMOTE_WRITE_URL=http://<MONITORING_PRIVATE_IP>:9090/api/v1/write
LOKI_WRITE_URL=http://<MONITORING_PRIVATE_IP>:3100/loki/api/v1/push
ALLOY_LOG_PATH_GLOB=/var/lib/docker/containers/*/*-json.log
