# Full ECR image URIs
BACKEND_IMAGE=715760504932.dkr.ecr.ap-northeast-2.amazonaws.com/community-back:latest
FRONTEND_IMAGE=715760504932.dkr.ecr.ap-northeast-2.amazonaws.com/community-front:latest

SPRING_PROFILES_ACTIVE=prod

# Alloy on app EC2
ALLOY_SPRING_TARGET=backend:8080
ALLOY_INSTANCE=app-ec2
# Example: http://10.0.1.20:9090/api/v1/write
PROM_REMOTE_WRITE_URL=http://<MONITORING_PRIVATE_IP>:9090/api/v1/write
