MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=community
MYSQL_USER=community_user
MYSQL_PASSWORD=change_me_app_password
MYSQL_EXPORTER_USER=community_monitor
MYSQL_EXPORTER_PASSWORD=change_me_monitor_password
TZ=Asia/Seoul

ALLOY_INSTANCE=mysql-ec2
PROM_REMOTE_WRITE_URL=http://<MONITORING_PRIVATE_IP>:9090/api/v1/write
LOKI_WRITE_URL=http://<MONITORING_PRIVATE_IP>:3100/loki/api/v1/push
ALLOY_LOG_PATH_GLOB=/var/lib/docker/containers/*/*-json.log
